body {
  margin: 0;
  padding: 0;
  font-family: Cantarell, helvetica, sans-serif;
  background-color: rgb(255, 255, 255);
}

button {
  cursor: pointer;
}

main button:hover {
  background-color: rgb(157, 11, 96);
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(4, 7, 50);
  height: 45px;
  color: white;
}

.logo {
  padding: 0 0px 0 40px;
}

#logo-icon {
  background-color: white;
  border-radius: 50%;
  color: rgb(199, 16, 123);
  font-size: 20px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  font-weight: 800;
}

.site-name {
  padding: 0 100px 0 10px;
}

#site-name-button {
  border: none;
  background-color: rgb(4, 7, 50);
  color: white;
  font-family: Cantarell, helvetica, sans-serif;
  font-size: 24px;
}

.new-game {
  padding: 0 70px 0 0;
}

#new-game-nav-button {
  border: none;
  background-color: rgb(4, 7, 50);
  color: white;
  font-family: Cantarell, helvetica, sans-serif;
  font-size: 16px;
}

.how-to-play {
  padding: 0 380px 0 0;
}

#how-to-play-nav-button {
  border: none;
  background-color: rgb(4, 7, 50);
  color: white;
  font-family: Cantarell, helvetica, sans-serif;
  font-size: 16px;
}

.scoreboard {
  padding: 0 40px 0 0;
}

.player-score-name {
  padding: 0 30px 0 0;
}

.player-score-number {
  padding: 0 40px 0 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start-button-holder-visible {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px auto -30px auto;
}

.start-button-holder-hidden {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 0px;
}

#start-new-game-button {
  text-align: center;
  font-size: 20px;
  background-color: rgb(199, 16, 123);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
}

main button#start-new-game-button:hover {
  background-color: rgb(157, 11, 96);
}

#message {
  font-size: 20px;
  height: 30px;
  margin-top: 20px;
  font-weight: 100;
}

#hit-miss-message {
  font-size: 20px;
  height: 30px;
  margin-top: 20px;
  font-weight: 100;
}

.how-to-play-window-hidden {
  visibility: hidden;
  width: 0px;
  height: 0px;
}

.how-to-play-window-visible {
  visibility: visible;
  width: 800px;
  background-color: rgb(165, 220, 222);
  border-radius: 7px;
  padding: 20px 20px;
  font-size: 20px;
  margin: 40px auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#close-how-to-window {
  border: solid 2px white;
  background-color: rgb(199, 16, 123);
  color: white;
  padding: 5px 10px;
  border-radius: 7px;
  font-size: 20px;
}

.ship-section-visible {
  visibility: visible;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ship-section-hidden {
  visibility: hidden;
  width: 0px;
  height: 0px;
  margin: 0;
  padding: 0;
}

.ship-repository-vertical {
  width: 250px;
  height: 450px;
  background-color: white;
  border: solid 2px rgb(165, 220, 222);
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 20px;
  margin: 80px auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ship-repository-horizontal {
  width: 450px;
  height: 250px;
  background-color: white;
  border: solid 2px rgb(165, 220, 222);
  border-radius: 4px;
  padding: 20px 10px;
  font-size: 20px;
  margin: 260px auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.ship {
  cursor: grab;
}

.carrier-png {
  width: 250px;
  margin: 10px auto;
}

.cruiser-png {
  width: 200px;
  margin: 10px auto;
}

.submarine-png {
  width: 150px;
  margin: 10px auto;
}

.floater-png {
  width: 100px;
  margin: 10px auto;
}

.rotate-button-container {
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0px;
  width: 0px;
}

.rotate-button {
  text-align: center;
  font-size: 20px;
  background-color: rgb(199, 16, 123);
  color: white;
  padding: 0;
  border: none;
  border-radius: 8px;
  margin: 20px 5px;
  width: 80px;
  height: 35px;
}

.done-setting-ships-button {
  text-align: center;
  font-size: 20px;
  background-color: rgb(199, 16, 123);
  color: white;
  padding: 0;
  border: none;
  border-radius: 8px;
  margin: 20px 5px;
  width: 80px;
  height: 35px;
}

#battleship-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.board-area {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -50px 10px 10px 10px;
}

.board {  
  height: 600px;
  width: 550px;
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "board-name board-name board-name board-name board-name board-name board-name board-name board-name board-name board-name"
    "blank-square col1 col2 col3 col4 col5 col6 col7 col8 col9 col10"
    "A A1 A2 A3 A4 A5 A6 A7 A8 A9 A10"
    "B B1 B2 B3 B4 B5 B6 B7 B8 B9 B10"
    "C C1 C2 C3 C4 C5 C6 C7 C8 C9 C10"
    "D D1 D2 D3 D4 D5 D6 D7 D8 D9 D10"
    "E E1 E2 E3 E4 E5 E6 E7 E8 E9 E10"
    "F F1 F2 F3 F4 F5 F6 F7 F8 F9 F10"
    "G G1 G2 G3 G4 G5 G6 G7 G8 G9 G10"
    "H H1 H2 H3 H4 H5 H6 H7 H8 H9 H10"
    "I I1 I2 I3 I4 I5 I6 I7 I8 I9 I10"
    "J J1 J2 J3 J4 J5 J6 J7 J8 J9 J10";
}

.board-hidden {
  visibility: hidden;
  width: 0px;
  height: 0px;
}

#player-one-board-title {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

#player-two-board-title {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.square1 {
  height: 50px;
  width: 50px;
  border: solid 1px white;
  background-color: rgb(165, 220, 222);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.square2 {
  height: 50px;
  width: 50px;
  border: solid 1px white;
  background-color: rgb(165, 220, 222);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.ship-location-background {
  background-color: rgb(58, 58, 58);
}

.hit {
  background-color: rgb(155, 35, 35);
}

.miss {
  background-color: rgb(167, 160, 160);
}

.preview {
  background-color: rgb(123, 164, 166);
}

.row-name {
  height: 50px;
  width: 50px;
  border: solid 1px white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(4, 7, 50);
  border-radius: 2px;
  font-weight: 600;
  color: white;
}

.col-name {
  height: 50px;
  width: 50px;
  border: solid 1px white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(4, 7, 50);
  border-radius: 2px;
  font-weight: 600;
  color: white;
}

.blank-square {
  height: 50px;
  width: 50px;
  border: solid 1px white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(199, 16, 123);
  border-radius: 2px;
  font-weight: 600;
  color: white;
  grid-area: blank-square;
}

.board-name { grid-area: board-name; }

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(4, 7, 50);
  height: 45px;
  color: white;
  margin: 50px auto 0 auto;
  font-size: 12px;
}

.trivia-window-visible {
  width: 600px;
  height: 170px;
  background-color: white;
  border: solid 2px rgb(165, 220, 222);
  border-radius: 4px;
  padding: 20px 10px;
  font-size: 20px;
  margin: 20px auto;
  display: grid;
  row-gap: 5px;
  column-gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1.24fr .78fr .78fr;
  grid-template-areas: 
  "trivia-question trivia-question"
  "ans1 ans2"
  "ans3 ans4";
}

.trivia-window-hidden {
  visibility: hidden;
  height: 0px;
}

#trivia-question {
  grid-area: trivia-question;
}

.answer-button {
  border-radius: 8px;
  font-family: Cantarell, helvetica, sans-serif;
  background-color: rgb(199, 16, 123);
  color: white;
  font-size: 20px;
  border: none;
}

.correct-answer {
  background-color:  rgb(165, 220, 222);
  border: none;
}

.wrong-answer {
  background-color:  rgb(96, 9, 60);
  border: none;
}

#trivia-right-wrong-message {
  font-size: 20px;
  height: 20px;
  margin-top: 30px;
}

.choose-category-message-hidden {
  visibility: hidden;
  height: 0;
}

.choose-category-message-visible {
  font-size: 20px;
  margin: 60px auto 0px auto;
}

.trivia-category-visible {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 800px;
  margin: 30px auto -48.5px auto;
}

.trivia-category-hidden {
  visibility: hidden;
  height: 0px;
  width: 0px;
  display: none;
}

.category-button {
  text-align: center;
  font-size: 20px;
  background-color: rgb(199, 16, 123);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  margin: 0 20px;
  width: 180px
}